.header{
    display: flex;
    justify-content: center;
    align-items: center;
}


.canvas_container{
    position: relative;
    display: flex;
    justify-content: center;
}

#game_board{
    position: absolute;
    z-index: 1;
}

#game_pieces{
    position: absolute;
    z-index: 2;
}

#game_pieces_up{
    position: absolute;
    z-index: 3;
}